*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background: linear-gradient(#2b1055,#7597de);
}
header{
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header .logo{
    color: white;
    background: #222327d0;
    padding: 5px 20px;
    border-radius: 30px;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255,0.8);
}
header nav{
    position: relative;
    display: flex;
    background: #222327d0;
    padding: 15px 60px;
    border-radius: 30px;
}
header nav a{
    z-index: 5;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav a:hover,
header nav a.active{
    color: #222327;
    background: white;
}

/* home */
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 20;
}
.home img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.home img#moon{
    mix-blend-mode: screen;
}
.home img#mountains_front{
    z-index: 10;
}
#text{
    position: absolute;
    right: -250px;
    color: white;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: white;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

/* section */
section{
    padding: 50px 25px;
    background: #1c0522;
}
section:nth-child(even){
    background: #220c45;
}

/* about */
section h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
}
.about::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#220c45,transparent);
    z-index: 20;
}
.item-wrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img-wrapper{
    width: 40%;
    background: rgba(255, 255, 255,0.8);
    border-radius: 20px;
}
.img-wrapper img{
    width: 100%;
}
.introduction{
    width: 55%;
    background: rgba(255, 255, 255,0.8);
    border-radius: 20px;
    padding: 20px;
}
.introduction h1{
    color: black;
    text-align: left;
}
.introduction h2{
    font-size: 35px;
}
.introduction p{
    font-size: 20px;
}
.introduction h2, .introduction p, .introduction h1{
    opacity: 0.7;
    margin-bottom: 15px;
}

/* skill */
.skill-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.skill-box{
    width: 25%;
    background: white;
    border-radius: 20px;
    padding: 20px 0;
}
.skill-img{
    width: 100%;
}
.skill-img img{
    width: 100%;
}
.skill-explain{
    text-align: center;
}

/* certificate */
.certificate-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.certificate-box{
    width: 40%;
    background: white;
    border-radius: 20px;
    padding: 20px 10px;
}
.certificate-img{
    width: 100%;
}
.certificate-img img{
    width: 100%;
}
.certificate-explain{
    text-align: center;
}

/* project */
.project-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.project-box{
    width: 80%;
    background: white;
    border-radius: 20px;
    padding: 20px 10px;
}
.project-img{
    width: 100%;
}
.project-img img{
    width: 100%;
}
.project-explain{
    text-align: center;
}
.visit-button{
    background-color: rgba(192, 115, 247, 0.8);
    border-radius: 10px;
    padding: 15px 40px;
    font-size: 2em;
    font-weight: bold;
    margin: 20px 10px;
    border: none;
}
.visit-button a{
    color: white;
    text-decoration: none;
}
.visit-button:hover{
    background-color: rgba(95, 52, 156, 0.8);
}

/* contact */
.contact-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.contact-box{
    width: 25%;
    background: white;
    border-radius: 20px;
    padding: 20px 0;
}
.contact-img{
    width: 100%;
}
.contact-img img{
    width: 100%;
}
.contact-explain{
    text-align: center;
}

/* footer */
footer{
    height: 80px;
    text-align: center;
    background: #222327d0;
    color: white;
}