header {
    height: 80px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    color: white;
    z-index: 10;
    margin-left: -8px;
}
html{
    scroll-behavior: smooth;
}
h1, h2, h3, p{
    cursor: default;
}
.container li{
    margin: 0 20px;
    margin-top: 5px;
    list-style: none;
}
.container{
    display: flex;
    justify-content: flex-end;
    padding: 17px 0;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}
.header-right{
    display: flex;
    flex-direction: row;
    float: right;
    padding-top: 7px;
    margin-top: 25px;
    margin-right: 30px;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}
.header-left{
    display: flex;
    flex-direction: row-reverse;
    float: left;
    margin-top: 15px;
    font-size: 2em;
    cursor: pointer;
    margin-right: auto;
    margin-left: -50px;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}
.navbar-item a{
    font-size: 1em;
    background-color: rgba(5, 85, 159, 0.5);
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 15px;
    color: white;
    text-decoration: none;
    transition: 0.25s ease-in-out;
}
.navbar-item:hover a{
    background-color: rgba(8, 52, 96, 0.9);
    transform: scale(1.1);
}
.menu img{
    width: 70px;
    height: 70px;
}
li.menu{
    margin-top: -18px;
}
.menu{
    display: none;
}
body{
    background-color: rgb(54, 54, 54);
}
.home-wrapper{
    background-image: url(/asset/images/body\ wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    margin-top: -40px;
}
.home h2, .home h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Nunito', sans-serif;
    cursor: default;
}
.home h1{
    color: white;
    padding-top: 200px;
    font-size: 80px;
    opacity: 0.8;
}
.home h2{
    color: white;
    font-size: 40px;
    opacity: 0.8;
}
.title{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(47, 79, 79, 0.8);
    padding: 10px;
    margin-bottom: 50px;
    font-size: 45px;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}
.containers {
    padding: 0 15px;
    margin: 0 0 0 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    color: black;
}
.top-wrapper {
    padding: 30px 20px;
    background-color: rgb(84, 84, 84);
}
.introduction{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: -25px;
    margin-top: -10px;
}
.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}
.top-wrapper h2{
    opacity: 0.7;
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}
.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}
.images img{
    width: 450px;
    border-radius: 50px;
    background-color: rgba(255, 253, 253, 0.8);
}
.skill-wrapper{
    height: 940px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 50px;
    background-color: rgb(54, 54, 54);
}
.skill-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.skill-box{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 25%;
    column-gap: 50px;
    background-color: white;
    border-radius: 15px;
    padding: 20px 0;
}
.skill-img img{
    width: 200px;
    height: 200px;
    transition: 0.3s ease-in-out;
}
.skill-box:hover img{
    transform: scale(1.2);
}
.certificate-wrapper{
    height: 1100px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 50px;
    background-color: rgb(84, 84, 84);
}
.certificate-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.certificate-box{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 35%;
    column-gap: 50px;
    background-color: white;
    border-radius: 15px;
    padding: 20px 0;
}
.certificate-box{
    width: 450px;
}
.certificate-img img{
    width: 450px;
    height: 300px;
}
.project-wrapper{
    height: 930px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 50px;
    background-color: rgb(54, 54, 54);
}
.project-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.project-box{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    column-gap: 50px;
    background-color: white;
    border-radius: 15px;
    padding: 20px 0;
}
.project-img img{
    width: 1000px;
    height: 500px;
    border-radius: 20px;
}
.visit-button{
    background-color: rgba(192, 115, 247, 0.8);
    border-radius: 10px;
    padding: 20px 50px;
    font-size: 2em;
    font-weight: bold;
    margin: 0 20px 10px 20px;
    border: none;
}
.visit-button a{
    color: white;
    text-decoration: none;
}
.visit-button:hover{
    background-color: rgba(95, 52, 156, 0.8);
}
.contact-wrapper{
    height: 950px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 50px;
    background-color: rgb(84, 84, 84);
}
.contact-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.contact-box{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 25%;
    column-gap: 50px;
    background-color: white;
    border-radius: 15px;
    padding: 20px 0;
}
.contact-explain a{
    color: white;
    text-decoration: none;
}
.contact-explain p{
    background-color: rgba(85, 190, 255, 0.8);
    padding: 20px 20px;
    border-radius: 20px;
    margin-top: 20px;
    transition: 0.2s ease-in-out;
}
.contact-explain:hover p{
    background-color: rgba(54, 124, 168, 0.8);
    transform: scale(1.1);
}
.gmail-button{
    color: white;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(80, 32, 255, 0.8);
    transition: 0.2s ease-in-out;
}
.gmail-button:hover{
    background-color: rgba(57, 22, 181, 0.8);
    transform: scale(1.1);
}
.contact-img img{
    width: 200px;
    height: 200px;
}
footer{
    height: 80px;
    background-color: rgb(47, 79, 79);
}
footer h1{
    text-align: center;
    margin: auto;
    font-size: 35px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
footer p{
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}